<html>
    <head>
        <title>TRI NIT Hackathon</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/design.css">
    </head>

    <body>
        <form action="/results" method="GET" class="justify-content-center d-flex" style="position: relative; top: 50%;">
            <input type="text" name="search" class="form-control w-25" placeholder="Enter Email .." autocomplete="off"> 
            <button class="ml-3 text-center btn btn-success">Submit</button>
        </form>

    </body>
</html>